html {
  scroll-behavior: smooth; 
  margin: 0;
}
header {
  background-color: rgba(225, 226, 162, 0.288);
  height: 50px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.main-container{
  background-color: rgba(31, 173, 209, 0.075);
}
.title {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  height: 200px;
  
}
.title div {
  width: 500px;
  align-items: center;
}
.foto {
  padding: 0 0 0 700px;
 
}
.container2 {
  padding: 0 650px 0 0px;
  
}
.name {
  font-size: 50px;
  
}
.subtitle {
  font-size: 35px;
  
}
.container {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  flex-wrap: wrap;
  height: 700px;
  align-items: center;
  align-content: space-between;
}
.container div {
  width: 900px;
  height: 200px;
  
}
.footer {
  display: flex;
  flex-direction: row;
 
  justify-content: space-between; 
  font-size: 50px;
  padding: 40px;
  background-color: rgba(76, 157, 177, 0.541);
}
a {
  text-decoration: none;
}