* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
  margin: 0;
}
body {
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 .container {
    max-width: 1440px;
    margin: 0 auto;
  }
header {
  background-color: rgba(225, 226, 162, 0.288);
  height: 50px;  
}
main {
  min-height: 50px;
  background-color: rgba(81, 209, 102, 0.288)  
}
footer {
  height: 50px;
  background-color: rgba(206, 27, 57, 0.288) 
}

 .nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 20px;
  transition: 1.3s;
  text-decoration: none; 
}
.nav-link:hover { outline: dotted red;
  background: gold;
  cursor: pointer; 
  text-decoration:underline;color: #e21515 }
.section {
  width: 50%;
  
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.title {
  display: flex;
  justify-content: center; /*регулировка по ширине start, center, end */
  align-items: center; /* регулировка по высоте */
  flex-direction: row;
  font-size: 40px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 0 15px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}
.section-title {
  font-size: 30px;
  font-weight: 1000;
  color: black;
}
.rss{
  background-image: url("https://rs.school/images/rs_school.svg");
}

/*
}
.container {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  flex-wrap: wrap;
  height: 700px;
  align-items: center;
  align-content: space-between;
}
.container div {
  width: 900px;
  height: 200px;
  
}
.footer {
  display: flex;
  flex-direction: row;
 
  justify-content: space-between; 
  font-size: 50px;
  padding: 40px;
  background-color: rgba(76, 157, 177, 0.541);
}
a {
  text-decoration: none;
} */